*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: rgb(77, 50, 95);
    padding: 15px 0px 15px 0px; 
    /* opacity: 0.5; */
    width: 100%;
    /* position: relative; */
}

a{
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    background-color: rgb(167, 62, 197);
    transition: 0.5s;
}

/* .gambar{
    /* display: inline; 
} */


.t{
    position: absolute;
    top: 4px;
    left: 6px;
}




.sub{
    font-size: 40px;
}



.atas{
    position: absolute;
    top: 230px;
    left: 100px;
    color:rgb(255, 255, 255);
    font-size: 40px;
}

.atas h1{
    padding-bottom: 10px;
}

.penjelasan{
    padding: 75px 200px;
}

.penjelasan2{
    padding: 30px 200px;
}

.kotak{
    border: 3px;
    padding: 25px 50px;
    border-radius: 10px;
    box-shadow: 0 1px 13px rgba(102, 60, 92, 0.694);
}

ol{
    padding-bottom: 30px;
}

h1{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 25px;
    color:  rgb(81, 61, 85);
}

input[type="text"], [type="email"]{
    width:300px;
    border-radius: 10px;
    padding: 7px 8px ;
    font-size: 15px;
}

textarea{
    width:400px;
    border-radius: 10px;
    
}

select{
    padding: 5px 30px;
    font-size: 15px;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
}


label.matkul {
    position: absolute;
    padding-left: 10px;
}

button.red {
    width:150px;
    border-radius: 10px;
    background-color: rgb(72, 50, 53);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px 0px;
}

footer{
    bottom: 0;
    margin-top: 0px;
    width: 95%;
    color:  rgb(52, 28, 69);
    background-color:  rgb(223, 196, 255);
    padding: 0px 30px;
}

.foot{
    position: absolute;
    bottom: 0;
    width: 98%;
    background-color:  rgb(217, 192, 196);
    padding: 3px 10px;
}

span{
    font-weight: bold;
}

.f{
    font-size: 15px;
}